::ng-deep app-measurements {
    .nav-pills {
        display: inline-flex;
        background-color: #F4F4F4;
        border-radius: 5px;
        padding: 2px;
        a.nav-link {
            color: #808080;
            line-height: 0.9;
            padding: 7px 30px;
            &.active {
                color: #000000;
                background-color: #FAFAFA;
            }
        }
        &.nav-measurements {
            background-color: transparent;
            .nav-link {
                color: #000;
                border-radius: 0;
                &:hover,
                &:focus,
                &:active {
                    color: #000;
                }
                &.active {
                    color: #000;
                    font-weight: 500;
                    background-color: #F4F4F4;
                }
            }
        }
    }
    .full-pills-row {
        margin: 1rem -1.1rem;
    }
}