<h3>Recently saved Products</h3>

<div class="row mt-3">
    <div class="col-6">
        <input type="search" class="form-control form-control-lg" [(ngModel)]="searchProducts" placeholder="Start typing to find your item...">
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body p-0">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Inventory</th>
                            <th scope="col">Type</th>
                            <th scope="col">Vendor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products | productsFilter: searchProducts" (click)="openProduct(product.id)">
                            <td>
                                <img [src]="product.images?.[0]" class="d-inline-block rounded me-3" width="53" height="53" alt="">
                                <span>{{product.name}}</span>
                            </td>
                            <td>{{product.status}}</td>
                            <td>{{product.inventory}}</td>
                            <td>{{product.type}}</td>
                            <td>{{product.vendor}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>