::ng-deep app-profile {
    .customer-images-lists {
        img {
            max-height: 132px;
            object-fit: contain;
        }
    }
    .collapseMeasurements {
        .tab-content {
            max-height: 450px;
            overflow: auto;
        }
    }

    .photoUpload {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        
        INPUT {
            position: absolute;
            font-size: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            z-index: 1;
        }
        LABEL {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: #ddd;
            text-align: center;
            line-height: 26px;
            font-weight: 500;
            z-index: 2;
            cursor: pointer;
        }
    }
    .image-container {
        position: relative;
        max-width: 140px;
        IMG {
            min-width: 132px;
            cursor: pointer;
        }
        BUTTON {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
        }
        &:hover {
            BUTTON {
                display: block;
            }
        }
        .dropdown {
            position: absolute;
            top: 0;
            right: 0;
            BUTTON {
                display: block;
                background-color: rgba(255, 255, 255, 0.8);
                position: static;
                transform: none;
                border: 0 !important;
                &:hover, &:active, &:focus {
                    background-color: white;
                    border: 0 !important
                }
            }
            SPAN {
                cursor: pointer;
            }
        }
    }
}