<div class="row mb-3">
  <div class="col-12 col-md-10">
    <a href="/customers" class="link-back link-dark">Back to list</a>
  </div>
  <div class="col-12 col-md-2">
    <button *ngIf="!isEditMode" (click)="enterEditMode()" class="btn btn-default-disabled" style="width: 190px;">Edit</button>
    <button *ngIf="isEditMode" (click)="saveChanges()" class="btn btn-default-disabled" style="width: 190px;">Save</button>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="row" style="height: 160vh;overflow-y: auto;">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4>Account info</h4>
            <div class="row">
              <div class="col-12 col-md-4">
                <small class="d-block text-muted">First name</small>
                <span>{{customer?.first_name}}</span>
              </div>
              <div class="col-12 col-md-4">
                <small class="d-block text-muted">Last name</small>
                <span>{{customer?.last_name}}</span>
              </div>
              <div class="col-12 col-md-4">
                <small class="d-block text-muted">Location</small>
                <span>{{customer?.city}} {{customer?.province_code}}{{customer?.country_name ? ', '+customer?.country_name : ''}}</span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-md-4">
                <small class="d-block text-muted">Phone number</small>
                <span>{{customer?.phone || '-'}}</span>
              </div>
              <div class="col-12 col-md-5">
                <small class="d-block text-muted">E-mail address</small>
                <span>{{customer?.email}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h4>Body Measurements</h4>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <label for="{{metafields.value.additional_info['gender']}}" class="form-label text-muted text-capitalize">Gender</label>
                    <select id="{{metafields.value.additional_info['gender']}}"
                            class="form-select"
                            [disabled]="!isEditMode"
                            [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                            (ngModelChange)="updateAdditionalInfoMetafield($event, 'gender')"
                            [ngModel]="metafields.value.additional_info['gender'] !== '0' ? metafields.value.additional_info['gender'] : ''">
                      <option value="0" disabled>Select Gender</option>
                      <option value="Other">Other</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                  <div class="col-12 col-md-4">
                    <label for="{{metafields.value.additional_info['height']}}" class="form-label text-muted text-capitalize">Height</label>
                    <input type="text" placeholder="No value" id="{{metafields.value.additional_info['height']}}"
                           class="form-control"
                           [disabled]="!isEditMode"
                           (ngModelChange)="updateAdditionalInfoMetafield($event, 'height')"
                           [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                           [ngModel]="metafields.value.additional_info['height'] !== '0' ? metafields.value.additional_info['height'] : ''">

                  </div>
                  <div class="col-12 col-md-4">
                    <label for="{{metafields.value.additional_info['weight']}}" class="form-label text-muted text-capitalize">Weight</label>
                    <input type="text" placeholder="No value" id="{{metafields.value.additional_info['weight']}}"
                           class="form-control"
                           [disabled]="!isEditMode"
                           [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                           (ngModelChange)="updateAdditionalInfoMetafield($event, 'weight')"
                           [ngModel]="metafields.value.additional_info['weight'] !== '0' ? metafields.value.additional_info['weight'] : ''">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12 col-md-4">
                    <label for="{{metafields.value.additional_info['age']}}" class="form-label text-muted text-capitalize">Age</label>
                    <input type="text" placeholder="No value" id="{{metafields.value.additional_info['age']}}"
                           class="form-control"
                           [disabled]="!isEditMode"
                           [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                           (ngModelChange)="updateAdditionalInfoMetafield($event, 'age')"
                           [ngModel]="metafields.value.additional_info['age'] !== '0' ? metafields.value.additional_info['age'] : ''">
                  </div>
                  <div class="col-12 col-md-4">
                    <span class="d-block text-muted">Preffered fit</span>
                    <span>{{metafields.value.additional_info['fit']}}</span>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-4">
                <div class="row" *ngIf="valueBodyMeasurements">
                  <div class="col-4" *ngFor="let ms of bodyMeasurementsKeys; let j = index">
                    <div class="mb-3">
                      <label for="{{ ms.replaceAll(' ', '') }}" class="form-label text-muted text-capitalize">{{ ms.replaceAll('_', ' ') }}</label>
                      <input type="text" placeholder="No value" id="{{ ms.replaceAll(' ', '') }}"
                             class="form-control"
                             [disabled]="!isEditMode"
                             [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                             (ngModelChange)="updateBodyMeasurementsMetafield($event, 'body_measurements', ms)"
                             [ngModel]="metafields.value.body_measurements[ms] !== '0' ? metafields.value.body_measurements[ms] : ''">
                    </div>
                  </div>
                  <div class="col-12">
                    <h4>Posture</h4>
                    <div class="row" *ngFor="let postureKey of bodyMeasurementsPostureKeys; let j = index">
                      <div class="col-12 col-md-4 mb-3">
                        <label class="form-label text-muted text-capitalize">{{ postureKey.replaceAll('_', ' ') }}</label>
                      </div>
                      <div class="col-12 col-md-8 mb-3">
                        <div class="row d-flex justify-content-between m-0">
                          <div  *ngFor="let radioOption of radioButtonCustom[postureKey]" class="col-12 col-md-5 form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                   [id]="'radio_' + postureKey + '_' + radioOption" [name]="postureKey"
                                   [value]="radioOption"
                                   [disabled]="!isEditMode"
                                   [ngStyle]="{
                                       'background-color': isEditMode ? (metafields.value.body_measurements['posture'][postureKey] === radioOption ? 'blue' : '#e9ecef') : 'white'
                                   }"
                                   (ngModelChange)="updateBodyMeasurementsPostureMetafield($event, 'body_measurements', postureKey)"
                                   [(ngModel)]="metafields.value.body_measurements['posture'][postureKey]"
                            >

                            <label class="form-check-label" [for]="'radio_' + postureKey + '_' + radioOption">{{ radioOption }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <span class="d-flex align-items-center text-muted mb-3">
            <span>Full body photos</span>
            <div class="ms-3 photoUpload">
                <label for="addBodyPhoto" class="form-label">+</label>
                <input class="form-control form-control-sm" id="addBodyPhoto" type="file" (change)="selectedBodyPhotos($event)">
            </div>
        </span>

        <div class="d-flex flex-wrap" *ngIf="metafields.value['additional_info']['images']['fullBodyPhotos'][0]?.url; else noBodyPhotos">
          <div class="image-container me-2" *ngFor="let photo of metafields.value['additional_info']['images']['fullBodyPhotos']; let i = index">
            <img data-bs-toggle="modal" data-bs-target="#openPhoto" (click)="setOpenBodyPhoto(i)" [ngSrc]="photo.url" width="132" height="132" class="rounded img-thumbnail" alt="">
            <button type="button" class="btn btn-sm btn-danger" (click)="deleteImage(+photo.id, 'fullBodyPhotos')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </button>
          </div>
        </div>
        <ng-template #noBodyPhotos>
          <div class="mt-3 d-block text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
              <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
            </svg>
            No photos
          </div>
        </ng-template>

        <span class="d-flex align-items-center text-muted mt-5 mb-3">
            <span>Inspiration Images</span>
            <div class="ms-3 photoUpload">
                <label for="addInspirationPhoto" class="form-label">+</label>
                <input class="form-control form-control-sm" id="addInspirationPhoto" type="file" (change)="selectedInspirationPhoto($event)">
            </div>
        </span>
        <div class="d-flex flex-wrap" *ngIf="metafields.value['additional_info']['images']['inspirationImages'][0]?.url; else noInspPhotos">
          <div class="image-container me-2" *ngFor="let photo of metafields.value['additional_info']['images']['inspirationImages']; let i = index">
            <img data-bs-toggle="modal" data-bs-target="#editDescription" (click)="setEditingPhoto(i)" [src]="photo.url" width="132" height="132" class="rounded img-thumbnail" [alt]="photo.description">
            <div class="dropdown">
              <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><span class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editDescription" (click)="setEditingPhoto(i)">Open</span></li>
                <li><span class="dropdown-item" (click)="deleteImage(+photo.id, 'inspirationImages')">Delete</span></li>
              </ul>
            </div>
            <small class="d-block text-muted" [title]="photo.description">{{ (photo.description | slice:0:80) + (photo.description.length > 80 ? '...' : '') }}</small>
          </div>
        </div>
        <ng-template #noInspPhotos>
          <div class="mt-3 d-block text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
              <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
            </svg>
            No photos
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <div *ngFor="let type of garmentTypes">
          <div class="d-grid gap-2 mt-1">
            <a class="btn btn-default text-capitalize" data-bs-toggle="collapse" href="#id-{{type}}" role="button" aria-expanded="false" aria-controls="collapseMeasurements">
              {{type.replaceAll('_', ' ')}}
            </a>
          </div>
          <div class="collapse mt-4 mb-4" id="id-{{type}}">
            <div class="row">
              <div class="col-12 col-md-4" *ngFor="let ms of measurementKeysAll[type]; let j = index">
                <div class="mb-3">
                  <label for="{{ ms.replaceAll(' ', '') }}_{{ type }}" class="form-label text-muted text-capitalize">{{ ms.replaceAll('_', ' ') }}</label>
                  <input type="text" placeholder="{{metafields.value.final_garment[type][ms] === '0' ? measurementPlaceholderAll[type][ms] : ''}}" id="{{ ms.replaceAll(' ', '') }}_{{ type }}"
                         class="form-control"
                         [disabled]="!isEditMode"
                         [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                         (ngModelChange)="updateFinalGarmentMetafield($event, type, ms)"
                         [ngModel]="metafields.value.final_garment[type][ms] !== '0' ? metafields.value.final_garment[type][ms] : ''">
                </div>
              </div>
            </div>
            <div class="col-12">
              <h4>Desired fit</h4>
              <div class="row d-flex justify-content-between m-0">
                <div  *ngFor="let radioOption of radioButtonCustom['fit']" class="col-12 col-md-3  form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                         [id]="'radio_' + 'fit' + '_' + radioOption" [name]="radioOption"
                         [value]="radioOption"
                         [disabled]="!isEditMode"
                         [ngStyle]="{
                                       'background-color': isEditMode ? (metafields.value.additional_info['fit']=== radioOption ? 'blue' : '#e9ecef') : 'white'
                                   }"
                         [(ngModel)]="metafields.value.additional_info['fit']">
                  <label class="form-check-label" [for]="'radio_' + 'fit' + '_' + radioOption">{{ radioOption }}</label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h4>Adjustments</h4>
              <div class="row" *ngFor="let adjustmentsKey of testF(type); let s = index">
                <div class="col-12 col-md-4 mb-3">
                  <label  class="form-label text-muted text-capitalize">{{ adjustmentsKey.replaceAll('_', ' ') }}</label>
                </div>
                <div class="col-12 col-md-8 mb-3">
                  <div class="row d-flex justify-content-between m-0">
                    <ng-container *ngIf="adjustmentsKey !== 'notes'; else notesBlock">
                      <div *ngFor="let radioOption of radioButtonCustom[adjustmentsKey]" class="col-12 col-md-5 mb-2 form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               [id]="'radio_' + type + adjustmentsKey + '_adjustments_' + radioOption + '_' + s"  [name]="'radio_' + type + '_' + adjustmentsKey"
                               [value]="radioOption"
                               [disabled]="!isEditMode"
                               [ngStyle]="{
                                       'background-color': isEditMode ? (metafields.value.final_garment[type]['adjustments'][adjustmentsKey]=== radioOption ? 'blue' : '#e9ecef') : 'white'
                                   }"
                               (ngModelChange)="updateFinalGarmentAdjustmentsMetafield($event, type, adjustmentsKey)"
                               [(ngModel)]="metafields.value.final_garment[type]['adjustments'][adjustmentsKey]">
                        <label class="form-check-label" [for]="'radio_' + type +adjustmentsKey + '_adjustments_' + radioOption + '_' + s">{{ radioOption }}</label>
                      </div>
                    </ng-container>
                    <ng-template #notesBlock>
                      <div class="col-12 сol-md-5 m-0">
                        <textarea id="customerNotes" cols="30" rows="5" class="form-control" placeholder="No value"
                                  [disabled]="!isEditMode"
                                  [ngStyle]="{'background-color': isEditMode ? '#e9ecef' : 'white'}"
                                  [ngModel]="metafields.value.final_garment[type]['adjustments'][adjustmentsKey] !=='0' ? metafields.value.final_garment[type]['adjustments'][adjustmentsKey] : ''"
                                  (ngModelChange)="updateFinalGarmentAdjustmentsMetafield($event, type, adjustmentsKey)"
                        ></textarea>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editDescription" tabindex="-1" aria-labelledby="editDescriptionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDescriptionLabel">Inspiration Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="editingImageId !== null">
        <img class="mb-3" [src]="metafields.value.additional_info['images'].inspirationImages[editingImageId].url" width="100%" height="auto" alt="">
        <input class="form-control" type="text" placeholder="No value" [value]="metafields.value.additional_info['images'].inspirationImages[editingImageId].description" (change)="updateImageDescription($event, editingImageId)">
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="openPhoto" tabindex="-1" aria-labelledby="openPhotoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="openPhotoLabel">Photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="photoId !== null">
        <img class="mb-3" [src]="metafields.value['additional_info']['images'].fullBodyPhotos[photoId]?.url" width="100%" height="auto" alt="">
      </div>
    </div>
  </div>
</div>

