$green-primary: #367B5F;

::ng-deep app-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    width: 60px;
    background-color: white;
    a {
        color: #000000;
        &.active {
            color: $green-primary;
            border-left: 3px solid $green-primary;
            margin-left: -3px;
        }
    }
}