<h3>Customers list</h3>

<div class="row mt-3">
    <div class="col-6">
        <input type="search" class="form-control form-control-lg" [(ngModel)]="searchCustomers" placeholder="Start typing to find your item...">
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">E-mail address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Phone number</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="customers?.length; else placeholder">
                        <tr *ngFor="let customer of customers | filter: searchCustomers" (click)="openProfile(customer.id)">
                            <td>{{customer.first_name}} {{customer.last_name}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.default_address?.country}}</td>
                            <td>{{customer.phone}}</td>
                        </tr>
                    </tbody>
                    <ng-template #placeholder role="tbody">
                        <tr>
                            <td colspan="4">
                                <div class="text-center">
                                    <div class="spinner-border" role="status">
                                      <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
</div>