::ng-deep app-customers {
    table tr {
        cursor: pointer;
        &:hover td {
            background-color: #fafafa;
        }
    }

    .page-item {
    }
    .page-link {
        cursor: pointer;
        border-color: #367B5F;
        background-color: #367B5F;
        color: white;
        font-weight: 600;
        &:hover,
        &:focus,
        &:active {
            color: #000;
          background-color: #fafafa;
          border-color: #efeeee;
        }
      &.disabled {
        border-color: #367B5F; // або будь-який інший червоний колір для відключених сторінок
        background-color: #367B5F; // або будь-який інший червоний колір для відключених сторінок
        color: white;
        cursor: not-allowed;
      }
    }
}
