.shadow-effect {
  box-shadow: 0px 0px 7.099999904632568px 3px rgba(54, 123, 95, 0.2);
}
//Payment
.shadow-effect-payment {
  box-shadow: 0px 0px 7.099999904632568px 3px rgba(54, 123, 95, 0.2);
}

.dropdown-item {
  padding: 12px;
  border-bottom: 1px solid rgba(244, 244, 244, 1);
  border-radius: 5px
}
.dropdown-item.active {
  background: rgba(60, 137, 106, 0.09);
  color: #000000 !important;
}

.dropdown-item:hover {
  background-color: #f8f9fa !important;
}

//Payment
.dropdown-item-payment {
  padding: 12px;
  border-bottom: 1px solid rgba(244, 244, 244, 1);
  border-radius: 5px
}
.dropdown-item-payment.active {
  background: rgba(60, 137, 106, 0.09);
  color: #000000 !important;
}

.dropdown-item-payment:hover {
  background-color: #f8f9fa !important;
}

/* styles.css */
.custom-dropdown {
  display: flex;
  align-items: center; /* Вертикальне центрування */
  position: relative;
  height: 38px;
  padding: 11px 8px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.custom-dropdown.active {
  background: rgba(187, 224, 197, 0.09);
  border: 1px solid rgba(54, 123, 95, 1) !important;
  border-radius: 5px;
  color: #b4b4b4;
}
.custom-dropdown:hover {
  box-shadow: 0px 0px 7.099999904632568px 3px rgba(54, 123, 95, 0.2);
}


.custom-dropdown .selected-option {
  display: inline-block;
}

.custom-dropdown .arrow-down {
  display: inline-block;
  font-size: 10px;
}

.custom-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 110%;
  left: -2px;
  list-style: none;
  padding: 0;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 7.099999904632568px 3px rgba(54, 123, 95, 0.2);
}

.custom-dropdown.open .dropdown-menu {
  display: block;
}//
.selected-option {
  font-size: 16px;
}

//Payment

/* styles.css */
.custom-dropdown-payment {
  display: flex;
  align-items: center; /* Вертикальне центрування */
  position: relative;
  height: 38px;
  padding: 11px 8px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.custom-dropdown-payment.active {
  background: rgba(187, 224, 197, 0.09);
  border: 1px solid rgba(54, 123, 95, 1) !important;
  border-radius: 5px;
  color: #b4b4b4;
}
.custom-dropdown-payment:hover {
  box-shadow: 0px 0px 7.099999904632568px 3px rgba(54, 123, 95, 0.2);
}


.custom-dropdown-payment .selected-option-payment {
  display: inline-block;
}

.custom-dropdown-payment .arrow-down-payment {
  display: inline-block;
  font-size: 10px;
}

.custom-dropdown-payment .dropdown-menu-payment {
  display: none;
  position: absolute;
  z-index: 2;
  top: 110%;
  left: -2px;
  list-style: none;
  padding: 0;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 7.099999904632568px 3px rgba(54, 123, 95, 0.2);
}

.custom-dropdown-payment.open .dropdown-menu-payment {
  display: block;
}//
.selected-option-payment {
  font-size: 16px;
}

.icon-wrapper:hover{
  color: green;
}
.page-item {
}
.page-link {
  cursor: pointer;
  border-color: #367B5F;
  background-color: #367B5F;
  color: white;
  font-weight: 600;
  &:hover,
  &:focus,
  &:active {
    color: #000;
    background-color: #fafafa;
    border-color: #efeeee;
  }
}


//-----
