<div class="row">
    <div class="col-6">
        <a href="/customers" class="link-back link-dark">Back to list</a>

        <div class="card">
            <div class="card-body">
                <h4>Account info</h4>
                <div class="row">
                    <div class="col-5">
                        <small class="d-block text-muted">First name</small>
                        <span>{{customer?.first_name}}</span>
                    </div>
                    <div class="col-7">
                        <small class="d-block text-muted">Last name</small>
                        <span>{{customer?.last_name}}</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-5">
                        <small class="d-block text-muted">E-mail address</small>
                        <span>{{customer?.email}}</span>
                    </div>
                    <div class="col-3">
                        <small class="d-block text-muted">Location</small>
                        <span>{{customer?.default_address?.country}}</span>
                    </div>
                    <div class="col-4">
                        <small class="d-block text-muted">Phone number</small>
                        <span>{{customer?.phone || '-'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h4>Fashion info</h4>
                <div class="row">
                    <div class="col-6">
                        <label for="customerHeight"  class="form-label text-muted">Height</label>
                        <input type="text" placeholder="" id="customerHeight" [value]="customer?.height"  class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="customerFit"  class="form-label text-muted">Preferred fit</label>
                        <input type="text" placeholder="" id="customerFit"  class="form-control"  [value]="customer?.fit">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label for="customerNotes" class="form-label text-muted">Notes</label>
                        <textarea id="customerNotes" cols="30" rows="5" class="form-control"  [value]="customer?.notes"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <a data-bs-toggle="collapse" href="#collapseMeasurements" role="button" aria-expanded="false" aria-controls="collapseMeasurements">
                            Measurements
                        </a>
                        <div class="collapse collapseMeasurements mt-4" id="collapseMeasurements">
                            <div class="row">
                                <div class="col-4">
                                    <nav class="nav nav-pills-vertical flex-column">
                                        <a class="nav-link ps-0 {{(i ===0 ) ? 'active' : ''}}" data-bs-toggle="tab" *ngFor="let suit of productSuitTypes; let i = index" attr.data-bs-target="#suit-{{suit.replaceAll(' ', '_')}}" href="#">
                                            <span>{{suit}}</span>
                                        </a>
                                    </nav>
                                </div>
                                <div class="col-8">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show  {{(i === 0 ) ? 'active' : ''}}" *ngFor="let suit of productSuitTypes; let i = index" id="suit-{{suit.replaceAll(' ', '')}}" role="tabpanel">
                                            <div class="row" *ngIf="customer?.metafeilds">
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <span class="d-block">Body measurements</span>
                                                        <small class="text-muted">Updated {{ customer?.metafeilds?.[suit]?.bodyMeasurements?.[0]?.date | date }}</small>
                                                    </div>
                                                    
                                                    <div class="mb-3" *ngFor="let ms of customer?.metafeilds?.[suit]?.bodyMeasurements?.[0]?.measurements">
                                                        <label for="{{ ms.name.replaceAll(' ', '') }}_{{suit}}" class="form-label text-muted">{{ms.name}}</label>
                                                        <input type="text" placeholder="" id="{{ ms.name.replaceAll(' ', '') }}_{{suit}}" class="form-control" [value]="ms.value">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <span class="d-block">Final garment</span>
                                                        <small class="text-muted">Updated {{ customer?.metafeilds?.[suit]?.finalGarments?.[0]?.date | date }}</small>
                                                    </div>
                                                    
                                                    <div class="mb-3" *ngFor="let ms of customer?.metafeilds?.[suit]?.finalGarments?.[0]?.measurements">
                                                        <label for="{{ ms.name.replaceAll(' ', '') }}_{{suit}}" class="form-label text-muted">{{ms.name}}</label>
                                                        <input type="text" placeholder="" id="{{ ms.name.replaceAll(' ', '') }}_{{suit}}" class="form-control" [value]="ms.value">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex">
            <img src="..." class="rounded" alt="...">
            <img src="..." class="rounded" alt="...">
            <img src="..." class="rounded" alt="...">

        </div>
    </div>
</div>