<div class="row">
    <div class="col-6">
        <a href="/customers" class="link-back link-dark">Back to list</a>

        <div class="card">
            <div class="card-body">
                <h4>Account info</h4>
                <div class="row">
                    <div class="col-5">
                        <small class="d-block text-muted">First name</small>
                        <span class="lead">{{customer?.first_name}}</span>
                    </div>
                    <div class="col-7">
                        <small class="d-block text-muted">Last name</small>
                        <span class="lead">{{customer?.last_name}}</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-5">
                        <small class="d-block text-muted">E-mail address</small>
                        <span class="lead">{{customer?.email}}</span>
                    </div>
                    <div class="col-3">
                        <small class="d-block text-muted">Location</small>
                        <span class="lead">{{customer?.default_address?.country}}</span>
                    </div>
                    <div class="col-4">
                        <small class="d-block text-muted">Phone number</small>
                        <span class="lead">{{customer?.phone || '-'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h4>Fashion info</h4>
                <div class="row">
                    <div class="col-6">
                        <label for="customerHeight"  class="form-label text-muted">Height</label>
                        <input type="text" placeholder="" id="customerHeight"  class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="customerFit"  class="form-label text-muted">Preferred fit</label>
                        <input type="text" placeholder="" id="customerFit"  class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="customerNotes" class="form-label">Notes</label>
                        <textarea id="customerNotes" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>