<h3>Recently saved Materials</h3>

<div class="row mt-3">
    <div class="col-6">
        <input type="search" class="form-control form-control-lg" placeholder="Start typing to find your item...">
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card overflow-auto">
            <div class="card-body p-0">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Inventory</th>
                            <th scope="col">Type</th>
                            <th scope="col">Vendor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="https://fakeimg.pl/50x50" class="d-inline-block rounded me-3" width="53" height="53" alt="">
                                <span>Material 1</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>