/* You can add global styles to this file, and also import other style files */

// Required

@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides

$table-cell-padding-y:        1rem;
$table-cell-padding-x:        1rem;
$headings-margin-bottom:      1rem;
$table-bg:  white;
$input-padding-y-lg: 0.8rem;
$input-font-size-lg: 14px;
$color-text-dark: #1E1E1E;
$color-text-light: #E0E5F4;
$green-primary: #367B5F;
$input-line-height: 2.2;
$btn-line-height: 2.2;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";


@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
// @import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack


.table {
    margin-bottom: 0;
}

.nav.nav-tab-page {
    border-bottom: 1px solid #EDEEEF;
    a {
        font-weight: 300;
        color: $color-text-dark;
        &:hover,
        &:focus,
        &:active {
            color: $color-text-dark;
        }
        &.active {
            border-bottom: 3px solid $green-primary;
            font-weight: 500;
            letter-spacing: -0.3px;
        }
        
    }
}

.nav.nav-pills-vertical {
    a {
        font-weight: 300;
        color: $color-text-dark;
        &:hover,
        &:focus,
        &:active {
            color: $color-text-dark;
        }
        &.active {
            border-left: 3px solid $green-primary;
            font-weight: 500;
            letter-spacing: -0.3px;
            padding-left: 8px !important;
            position: relative;
            &:after,
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                left: 3px;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                background-color: #F4F4F4;
                z-index: 0;
            }
            span {
                position: relative;
                z-index: 2;
            }
        }
    }
}

input[type="search"] {
    padding-left: 40px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8' stroke='%23DDDDDD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5 14.958L19.5 19.958' stroke='%23DDDDDD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.link-back {
    display: block;
    padding-left: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1.66939 7.21905C1.2842 7.66844 1.2842 8.33156 1.66939 8.78095L7 15' stroke='%231E1E1E' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 16px;
    color: $color-text-dark;
    margin: 1rem 0;
    text-decoration: none;
    &:hover {
        letter-spacing: -0.2px;
        font-weight: 500;
    }
}

.text-lighter {
    color: $color-text-light
}

*[data-bs-toggle="collapse"] {
    display: inline-block;
    color: $color-text-dark;
    text-decoration: none;
    position: relative;
    &:hover,
    &:focus,
    &:active {
        color: $color-text-dark;
        text-decoration: none;
    }
    &:after,
    &::after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 10px;
        transition: transform ease-in-out 300ms;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L3.71905 3.33061C4.16844 3.7158 4.83156 3.7158 5.28095 3.33061L8 1' stroke='%231E1E1E' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &[aria-expanded="true"] {
        &:after,
        &::after {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }
}